@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	margin: 0;
}
.header {
	position: relative;
	width: 1920px;
	height: 980px;
	margin: 0 auto 169px;
	&-top {
		position: relative;
		margin-top: 0;
		width: 1920px;
		height: 85px;
		&_logo {
			position: absolute;
			top: 30.32px;
			left: 274.97px;
		}
		&_nav {
			position: absolute;
			top: 17px;
			left: 527px;
			width: 557px;
			& ul {
				display: flex;
				justify-content: space-between;
				list-style: none;
				align-items: center;
				& li {
					& a {
						text-decoration: none;
						font-family: Lato;
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						color: #292929;
					}
				}
			}
		}
		&_form {
			position: absolute;
			width: 277px;
			height: 51px;
			top: 17px;
			left: 1367px;
			display: flex;
			align-items: center;
			& a {
				font-family: Lato;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: #000000;
				width: 59px;
				text-decoration: none;
				margin-right: 35px;
			}
			& button {
				outline: none;
				width: 183px;
				height: 51px;
				border-radius: 4px;
				background-color: #01996D;
				border: 1px solid #01996D;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 13px 50px;
				cursor: pointer;
				& span {
					font-family: Lato;
					font-weight: 400;
					font-size: 18px;
					color: #FFFFFF;
				}
			}
		}
	}
	&-bg {
		position: absolute;
		top: 86px;
		border-top:1px solid #D6D6D6;
	}
	&-headline {
		position: absolute;
		width: 440px;
		height: 384px;
		left: 275px;
		top: 261px;
		&_title {
			width: 440px;
			height: 148px;
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 65px;
			line-height: 74px;
			color: #01996D;
			margin-bottom: 30px;
		}
		&_lead {
			width: 420px;
			height: 123px;
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 31px;
			color: #484848;
			margin-bottom: 18px;
		}
		&_btn {
			& button {
				width: 227px;
				height: 65px;
				background: #01996D;
				border: 1px solid #01996D;
				box-sizing: border-box;
				border-radius: 4px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20px 50px;
				cursor: pointer;
				& span {
					width: 180px;
					height: 40px;
					font-family: Lato;
					font-style: normal;
					font-weight: normal;
					color: #FFFFFF;
					font-size: 20px
				}
			}
		}
	}
}
.about {
	width: 1413px;
	height: 1386px;
	margin: 0 auto 51px;
	position: relative;
	&-up {
		position: absolute;
		top: 0;
		width: 1413px;
		height: 327px;
	}
}